/*INDEX*/

nav {
  background-color: #fcd7f6;
}

a.left.brand-logo {
  padding: 15px 0 0 20px;
}

.home-image {
  height: 200px;
}

body { 
  font-family: sans-serif; 
  height: 100%;
  font-family: "Helvetica";
}

ul {
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

li {
  margin: 0 0 5px 0;
  line-height: 28px;
  padding: 2px 15px;
  font-weight: 500;
  font-size: 15px;
  color: #2E4157;
  overflow:auto;
}

ul li i{
  font-family: "Helvetica";
  font-style: normal;
  font-size: 14px;
}

#new-photo {
  padding-top: 20px;
}

#gallery {
  padding-top: 20px;
}

.collection {
  border: none;
  border-bottom: none;
}

/*NEW PAGE*/

#new-title {
  font-size: 48px;
}

#url-input {
  float:left;
}

#img-preview {
  margin-top:30px; 
  margin-left:20px; 
  margin-bottom:30px; 
  clear:left; 
  float:left;
}

#img-preview.img {
  width:400px;
}