@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

/*min two columns*/

@media only screen and (min-width: 0px) {
  .row .col.s {
    width: 50%; 
  }
  nav .nav-wrapper i {
    font-size: 30px;
    display: inline-block;
  }
  .left.brand-logo {
    margin: 0 auto;
    float: none;
    display: inline-block;
  }
}

/*two columns*/

@media only screen and (min-width: 320px) {
  nav .nav-wrapper i {
    font-size: 40px;
  }
  .row .col.s {
    width: 50%;
  }
  .container {
    width: 85%;
  }
}

/*three columns*/

@media only screen and (min-width: 820px) {
  .row .col.m4 {
    width: 33%;
  }
  /*.left.brand-logo {
    font-size: 3em;
  }*/
  i.material-icons {
    font-size: 40px;
  }
  .container {
    width: 70%;
  }
}

/*four columns*/

@media only screen and (min-width: 1150px) {
  .row .col.l3 {
    width: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
  }
}

/*INDEX PAGE*/

body {
  min-width: 340px;
}

nav {
  background-color: white;
  box-shadow: none;
  height: 100px;
  color: #fcd7f6;
}

nav .brand-logo {
  min-width: 230px;
  font-family: 'Bree Serif', serif;
  color: #fcd7f6;
  padding-top: 2%;
  font-size: 7vw;
}

.eggplant-emoji {
  width: 10%;
  min-width: 45px;
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.dropdown-content li > a {
  color: rgba(0,0,0,0.87);
}

.dropdown-button.active {
  padding: 0;
}

ul {
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

.nav-left li {
  width: auto;
  height: auto;
}

ul.left {
  padding: 20px 0 35px 0;
}

nav i {
  display: inline-block;
}

i.material-icons {
  color: black;
  font-size: 0;
  padding-top: 25%;
  display: inline-block;
}

ul.nav-icons {
  padding: 30px 35px 0 0;
  display: inline-block;
  float: right;
}

li {
  margin: 0 0 5px 0;
  line-height: 28px;
  padding: 2px 15px;
  font-weight: 500;
  font-size: 15px;
  color: #2E4157;
  overflow: auto;
}

ul li i{
  font-size: 14px;
  color: #2E4157;
}

div.container.ng-scope {
  margin: 0 auto;
  padding-top: 8%;
}

.side-nav {
  width: 30%;
}
/*NEW PAGE*/

button.btn.waves-effect {
  background-color: #800080;
}

#url-input {r
  float: left;
  width: 400px;
  padding-top: 15vh;
}

/*SHOW PAGE*/

.denied-img {
  height: 400px;
}

/*GALLERY PAGE*/

.img-circle {
  border-radius: 50%;
  width: 16vw;
  height: 16vw;
  min-width: 150px;
  min-height: 150px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  margin-top: 20px;
}

.img-circle:hover {
  opacity: 0.6;
}

.img-delete {
  position: absolute;
  width: 35px;
}