@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans');
/*font-family: 'Open Sans', sans-serif;*/
/*INDEX*/

nav {
  background-color: white;
  box-shadow: none;
  height:100px;
  color:#fcd7f6;
}

a.left.brand-logo {
  padding-top: 15px;
  font-family: 'Bree Serif', serif;
  color: #fcd7f6;
  font-size: 60px;
}

.eggplant-emoji {
  width: 90px;
}

.dropdown-content li>a {
  color: rgba(0,0,0,0.87);
}

.dropdown-button.active {
  padding: 0;
}

body {  
  height: 100%;
}

ul {
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

ul.left {
  padding-left: 35px;
  padding-top: 20px;
}

ul.right {
  padding-top: 30px;
  padding-right: 35px;
}

li {
  margin: 0 0 5px 0;
  line-height: 28px;
  padding: 2px 15px;
  font-weight: 500;
  font-size: 15px;
  color: #2E4157;
  overflow:auto;
}

ul li i{
  font-size: 14px;
  color:#2E4157;
}

div.container.ng-scope {
  margin: 0 auto;
}

/*NEW PAGE*/

.new-page {
  margin-top: 130px;
}

button.btn.waves-effect {
  background-color: purple;
}

#url-input {
  float:left;
  width:400px;
}

#img-preview {
  margin-top:30px; 
  margin-left:20px; 
  margin-bottom:30px; 
/*  clear:right; 
  float:right;*/
  border-style: solid;
  border-width: 5px;
}

#img-preview.img {
  width:400px;
}

.overlay {
/*    height: 100%;
    width: 0;*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
/*    overflow-x: hidden;*/
    transition: 0.5s;
}

/*GALLERY PAGE*/

.material-icons {
  float: right;
}

.img-circle {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  object-fit: cover;
  position: relative;
}

.img-circle:hover {
  opacity: 0.4;
}

.img-delete {
  position: absolute;
  width: 35px;
}

.tag {
  position: absolute;
}

.img-wrap {
  position: relative;
}
